/* Global styles */
body, html {
  height: 100%;  /* Ensure the full height of the window */
  margin: 0;     /* Remove default margin */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Ensure it takes at least the height of the viewport */
}

main {
  flex: 1;  /* Allows the main content to grow and push the footer down */
}

/* Header and Footer styles */
.header, .footer {
  background-color: #540D6E; /* Dark purple */
  color: #FFD23F; /* Yellow text */
  padding: 10px;
  text-align: center;
}

/* Navigation styles */
.nav-link {
  color: #FFD23F;
  margin-right: 10px;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Notification styles for form validation */
.notification {
  color: #EE4266;
  font-size: 0.8rem;
}

/* Footer specific styles */
.footer {
  text-align: center;
  padding: 20px 10px;
  margin: 50px;
}
