/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3FCF0; /* Light green background */
}

a {
  color: #EE4266; /* Pink links */
}

/* Header and Footer styles */
.header, .footer {
  background-color: #540D6E; /* Dark purple */
  color: #FFD23F; /* Yellow text */
  padding: 10px;
  text-align: center;
}

/* Navigation styles */
.nav-link {
  color: #FFD23F;
  margin-right: 10px;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Notification styles for form validation */
.notification {
  color: #EE4266;
  font-size: 0.8rem;
}
